<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<link rel="stylesheet" href="static/css/chat.css" />
	<title>Chat App By Deepank</title>
</head>

<body style="background: black;">
	<div class="join-container">
		<header class="join-header">
			<h1><i class="far fa-comments"></i> Rx - Chat</h1>
		</header>
		<main class="join-main">
			<form action="chat.html">
				<div class="form-control">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" placeholder="Enter username..." required />
				</div>
				<div class="form-control">
					<label for="room">Room</label>
					<select name="room" id="room">
						<option value="General">General</option>
						<option value="Naruto">Naruto</option>
						<option value="One Peace">One Peace</option>
						<option value="Death Note">Death Note</option>
					</select>
				</div>
				<button type="submit" class="btn" style="background:#0d9bde">Join Chat</button>
			</form>
		</main>
	</div>
	<footer style="color:white ; text-align: center;">&copy; Deepank
	</footer>
</body>

</html>