<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deepank Rx</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="static/css/style.css" rel="stylesheet">


</head>

<body>

 
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Deepank Rx</a></h1>
    
    

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">My Interest</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto " href="#blog">Templates</a></li>
         
            
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <div id="hero" class="hero route bg-image" style="background-image: url(static/img/background.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
       
          <h1 class="hero-title mb-4">I am Deepank Rx</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Programmer, Developer, Freelancer, Photographer,Coder"></span></p>
          <a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> 
        </div>
      </div>
    </div>
  </div>

  <main id="main">

  
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="static/img/deepank.png" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Deepank Rx</span></p>
                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                        <p><span class="title-s">Email: </span> <span>deepankrx@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>+91 79835 9134</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>HTML</span> <span class="pull-right">85%</span>
                    <div class="progress"><div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right">75%</span>
                    <div class="progress"><div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                    <div class="progress"><div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                   
                    <p class="lead">
                    |    My name Deepank Rx, and I am interested in being considered for Programming/Coding opportunity. My background combines more than 3 years of expertise in developing compelling and earth-shattering digital content, with additional experience in client management, team leadership, and project management.<br>
                    <strong>
                    |    Attention Hiring Department:</strong><br>
                    |    I am enclosing my resume in response to the Sales Manager opportunity as advertised on your LinkedIn company page. My background combines less then 1 years of web developement skills complimented by an running B.Tech from the Graphic Era Hill University , Dehradun.


                    </p>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

 
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
                |   My Interests
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div id="bc1" class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i id="bb1" class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                |  Web design refers to the design of websites that are displayed on the internet. <br><br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="bc2" class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i id="bb2" class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Development</h2>
                <p class="s-description text-center">
                |  Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="bc3" class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i id="bb3" class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Photography</h2>
                <p class="s-description text-center">
                    |    Photography is the art, application, and practice of creating durable images by recording light
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4" >
            <div id="bc" class="service-box" >
              <div class="service-ico" >
                <span class="ico-circle"><i id="bb" class="bi bi-binoculars"></i></span>
              </div>
              <div class="service-content">
                <h2 id="rd" class="s-title">Responsive Design</h2>
                <p class="s-description text-center">
                    |    Responsive web design (RWD) is a web development approach that creates dynamic changes to the appearance of a website, depending on the screen size and orientation of the device being used to view it.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="bc4" class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i id="bb4" class="bi bi-brightness-high"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Programming</h2>
                <p class="s-description text-center">
                    |    Unfortunately, computers don't understand languages like English or Spanish, so we have to use a programming language they understand to give them instructions.
                    br
                    br
                    br
                    br
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="bc5" class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i id="bb5" class="bi bi-calendar4-week"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Marketing Services</h2>
                <p class="s-description text-center">
                |   As marketing becomes inherently more analytical in nature, rooted in rich data and insight, marketers need to understand how their websites function in order to better optimize the customer journey.
                br
                br
         
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
<!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(static/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-check"></i></span>
              </div>
              <div class="counter-num"><p data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">WORKS COMPLETED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num"><p data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">YEARS OF EXPERIENCE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num"><p data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">TOTAL CLIENTS</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-award"></i></span>
              </div>
              <div class="counter-num"><p data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">Personal Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->

<!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                    | Few Things Created By Me.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/calculator.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/calculator.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Calculator in JS</h2>
                    <div class="w-more">
                       <span class="w-date">2 July 2021</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="calculator"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/rgb.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/rgb.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">RGB GAME</h2>
                    <div class="w-more">
                      <span class="w-ctegory">For CSS Developer</span> / <span class="w-date">20 July 2021</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="rgb"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/img/ecommerce.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="static/img/ecommerce.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ecommerce Site</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Site</span> / <span class="w-date">5 Aug. 2021</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://aligarhhub.live"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Section -->

<!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(static/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="static/img/deepank.png" alt="" class="rounded-circle b-shadow-a circlesize">
                      <span class="author">Deepank Rx</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        | Hi,My Name Is Deepank Rx . I am currently learning web developement.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

              
              </div>
              <div class="swiper-pagination"></div>
            </div>

           
          
        </div> 
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->

   
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <p class="subtitle-a">
                |    Websites I make , and working on..
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="https://preview.colorlib.com/#passport"><img src="static/img/post-1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Travel</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="https://preview.colorlib.com/#passport" target="_blank">See more ideas about Travel</a></h3>
                <p class="card-description">
                |  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="static/img/deepank.png" alt="" class="avatar rounded-circle">
                    <span class="author">Deepank Rx</span>
                  </a>
                </div>
               
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="https://bootstrapmade.com/demo/Delicious/"><img src="static/img/post-2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Web Design</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="https://bootstrapmade.com/demo/Delicious/">Restaurant Website Template</a></h3>
                <p class="card-description">
                |  An eatery, is a business that prepares and serves food and drinks to customers.
                
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="static/img/deepank.png" alt="" class="avatar rounded-circle">
                    <span class="author">Deepank Rx</span>
                  </a>
                </div>
              
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="https://preview.colorlib.com/#medicare"><img src="static/img/post-3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Web Design</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="https://preview.colorlib.com/#medicare"></a></h3>
                <p class="card-description">
                  |  Health care institution providing patient treatment with specialized medical and nursing staff and medical equipment.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="static/img/deepank.png" alt="" class="avatar rounded-circle">
                    <span class="author">Deepank Rx</span>
                  </a>
                </div>
         
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Section -->

  
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(static/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                      | Message Us
                      </h5>
                    </div>
                    <div>
                      <form action="/" method="POST"  id="contactForm" name="sentMessage" novalidate>
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group"><input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group"><input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group"><input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group"><textarea class="form-control" name="message" rows="5" id="message"placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3" id="mydiv">
                          
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" onclick="successmsg()" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                      |  Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                         | Get In Touch!!!   
                         |    If you have any query or want to contact me please fill the from.
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span>Gandhi Nagar , Aligarh , UP</li>
                        <li><span class="bi bi-phone"></span> +91 79835 91349</li>
                        <li><span class="bi bi-envelope"></span> deepankrx@gmail.com</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://www.facebook.com/deepank.4144/"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                        <li><a href="https://www.instagram.com/deepank_rx/?hl=us"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                        <li><a href="https://twitter.com/RxDeepank"><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/deepank-pushpad-747664188/"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

    </main><!-- End #main -->

  
    <footer>
    <div class="container" onclick ="login_page()">
      <div class="row" onclick ="login_page()">
        <div class="col-sm-12" onclick ="login_page()">
          <div class="copyright-box" onclick ="login_page()">
            <p class="copyright" onclick ="login_page()">&copy; Copyright <strong>Deepank Rx</strong>. All Rights Reserved</p>
            <div class="credits">Designed by BootstrapMade
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer><!-- End  Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/vendor/php-email-form/validate.js"></script>
        <script src="static/vendor/purecounter/purecounter.js"></script>
        <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/vendor/typed.js/typed.min.js"></script>

 
        <script src="static/js/main.js"></script>

</body>

</html>
//- 2b8609309f5340bdbe5b555abbaf88fc