<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RGB Game</title>
    <link rel="stylesheet" href="static/css/rgb.css">
</head>
a(href="/") Home
<body>
    <div>
        h3
            | This Is A Game For Css Developers. 
        p    
            | You have to guess the rgb hex code of the number inside the textarea. If textarea and number color matches you win the game.
        p    
            |   The Buttons will increase or decrease the hex code. Format is as rgb(x,y,z).
            br
            | (Cheat : Use The Inspect Element On The textarea )
    <div>
     <button id="X" class="button">X++</button>
     <button id="Y" class="button2">Y++</button>
     <button id="Z" class="button3">Z++</button>
     <br>
     <button id="X1" class="button">X--</button>
     <button id="Y1" class="button2">Y--</button>
     <button id="Z1" class="button3">Z--</button>
     <br>
     <textarea class="textarea" id="textarea"></textarea>
    </div> 
</body>
<script src="static/js/rgb.js"></script>
</html>